# NetBird Relay 服务环境变量配置
# 基于官方 getting-started-with-zitadel.sh 脚本

# 日志级别
NB_LOG_LEVEL=info

# 监听地址
NB_LISTEN_ADDRESS=:80

# 暴露地址
NB_EXPOSED_ADDRESS={{NETBIRD_RELAY_PROTO}}://{{NETBIRD_DOMAIN}}:{{NETBIRD_PORT}}

# 认证密钥
NB_AUTH_SECRET={{NETBIRD_RELAY_AUTH_SECRET}} 