# Zitadel 身份认证服务环境变量配置
# 基于官方 getting-started-with-zitadel.sh 脚本

# 日志配置
ZITADEL_LOG_LEVEL=debug

# 主密钥配置
ZITADEL_MASTERKEY={{ZITADEL_MASTERKEY}}

# 外部安全配置
ZITADEL_EXTERNALSECURE={{ZITADEL_EXTERNALSECURE}}

# TLS 配置
ZITADEL_TLS_ENABLED="false"

# 外部端口和域名
ZITADEL_EXTERNALPORT={{NETBIRD_PORT}}
ZITADEL_EXTERNALDOMAIN={{NETBIRD_DOMAIN}}

# 机器密钥配置
ZITADEL_FIRSTINSTANCE_PATPATH=/machinekey/zitadel-admin-sa.token
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_USERNAME=zitadel-admin-sa
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME=Admin
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_PAT_SCOPES=openid
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_PAT_EXPIRATIONDATE={{ZIDATE_TOKEN_EXPIRATION_DATE}}

# PostgreSQL 数据库配置
ZITADEL_DATABASE_POSTGRES_HOST=zdb
ZITADEL_DATABASE_POSTGRES_PORT=5432
ZITADEL_DATABASE_POSTGRES_DATABASE=zitadel
ZITADEL_DATABASE_POSTGRES_USER_USERNAME=zitadel
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD={{POSTGRES_ZITADEL_PASSWORD}}
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=disable
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=root
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD={{POSTGRES_ROOT_PASSWORD}}
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=disable 